<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">

    <title>TrasHealth</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@1,900&display=swap');
    </style>
    <link rel="icon" href="./img/logo.png" type="image/x-icon">
</head>

<body>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <label>Digite o CNPJ da empresa cadastrada</label>
        <input name="username" class="form-control" type="text" placeholder="CNPJ da empresa..">
        <br>
        <br>
        <br>
        <label>Senha:</label>
        <input name="password" class="form-control" type="password" placeholder="Senha...">
        <br>
        <br>
        <input class="btn btn-success btn-lg" type="submit" value="Logar">
    </form>
</body>

</html>