<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <title>TrasHealth</title>
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
</head>

<body>
    <div class="cadastro-form">
        <b>
            <a class="a" href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
        </b>
        <form id="form-cadastro" method="post">
            {% csrf_token %}
            {{ form.as_p }} <!-- Renderiza os campos do formulário com os widgets configurados -->
            <input type="submit" value="Entrar" id="entrar" class="btn btn-primary">
        </form>
        <div class="slaoq"><a href="{% url 'register' %}">Crie sua conta</a></div>
    </div>
</body>

</html>
