{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de usuário</title>
    <link rel="stylesheet" href="../static/css/register.css" />
    {% bootstrap_css %}
    <script>
      // Função para mostrar o pop-up
      function showErrorMessage(message) {
        alert(message); // Exibe um pop-up com a mensagem de erro
      }
    </script>
  </head>
  <header class="header1">
    <a href="index" class="infos"
      ><img src="../static/img/logo3.png" alt="" class="logo"
    /></a>
    <a href="nos" class="infos">QUEM SOMOS NOS?</a>
    <a href="mapa" class="infos">MAPA</a>
    <a href="vitrine" class="infos">VITRINE</a>
    <a href="sac" class="infos">SAC</a>
    <a href="login" class="botao">ENTRAR</a>
    <a href="register" class="botao">CRIAR CONTA</a>
  </header>
  <body>
    <div class="container">
      <h1>Cadastro de usuário</h1>
      {% bootstrap_messages %}
      <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        <label>CNPJ DA EMPRESA:</label>
        <input
          name="username"
          class="form-control"
          type="text"
          placeholder="username..."
        />
        <br />
        <br />
        <label>E-MAIL:</label>
        <input
          name="email"
          class="form-control"
          type="email"
          placeholder="Email..."
        />
        <br />
        <label>NOME DA EMPRESA:</label>
        <input
          name="first_name"
          class="form-control"
          type="text"
          placeholder="cnpj..."
        />
        <br />
        <br />
        <label>SENHA:</label>
        <input
          name="password"
          class="form-control"
          type="password"
          placeholder="Senha..."
        />
        <br />
        <br />
        <input class="btn btn-success btn-lg" type="submit" value="Enviar" />
      </form>
      {% if error_message %}
      <script>
        showErrorMessage("{{ error_message }}");
      </script>
      {% endif %}
    </div>
    {% bootstrap_javascript jquery='full' %}
  </body>
</html>
