{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vitrine de Pontos de Coleta</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">  <!-- Adicione seu arquivo CSS -->
    <!-- Adicionando o CSS do Bootstrap -->
   

</head>
<body>
    <div class="container">
        <h1>Vitrine de Pontos de Coleta</h1>
        <div id="carouselPontos" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for i in vitrine %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ i.imagem}}" class="d-block w-100" alt="Imagem de {{ i.titulo }}">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{ i.titulo }}</h5>
                            <p><strong>Local:</strong> {{ i.local }}</p>
                            <p><strong>Descrição:</strong> {{ i.descricao }}</p>
                            <td scope="row">{{i.imagem}}</td>
                           
                        </div>
                    </div>
                {% empty %}
                    <p>Nenhum ponto de coleta disponível.</p>
                {% endfor %}
            </div>
            <!-- Controles do carrossel -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPontos" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselPontos" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>


  
   
</body>
</html>
